/**
 * @name Adwaita
 * @description Gnome's LibAdwaita look for Discord.
 * @author siha, stolen from refact0r
 * @version 0.0.2
 * @source https://github.com/refact0r/midnight-discord
 * @authorId 508863359777505290
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://refact0r.github.io/midnight-discord/midnight.css');

/* customize things here */
:root {
	/* default gnome font */
	--font: 'cantarell';

	/* top left corner text */
	--corner-text: 'Adwaita';

	/* color of status indicators and window controls */
	--online-indicator: #26a269; /* change to #23a55a for default green */
	--dnd-indicator: #FF7B63; /* change to #f13f43 for default red */
	--idle-indicator: #e5a50a; /* change to #f0b232 for default yellow */
	--streaming-indicator: #DC8ADD; /* change to #593695 for default purple */

	/* accent colors */
	--accent-1: #3584E4; /* links */
	--accent-2: #000000; /* general unread/mention elements */
	--accent-3: #3584E4; /* accent buttons */
	--accent-4: #3584E4; /* accent buttons when hovered */
	--accent-5: #78AEED; /* accent buttons when clicked */
	--mention: #cce0f8; /* mentions & mention messages */
	--mention-hover: #b0cff4; /* mentions & mention messages when hovered */

	/* text colors */
	--text-0: #ffffff; /* text on colored elements */
	--text-1: #ffffff; /* other normally white text */
	--text-2: #000000; /* headings and important text */
	--text-3: #000000; /* normal text */
	--text-4: #000000; /* icon buttons and channels */
	--text-5: #909090; /* muted channels/chats and timestamps */

	/* background and dark colors */
	--bg-1: #e0e0e0; /* dark buttons when clicked */
	--bg-2: #ebebeb; /* dark buttons */
	--bg-3: #ebebeb; /* spacing, secondary elements */
	--bg-4: #ffffff; /* main background color */
	--hover: #d8d8d8; /* channels and buttons when hovered */
	--active: #b0cff4; /* channels and buttons when clicked or selected */
	--message-hover: #f7f7f7; /* messages when hovered */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.1s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--icon-spin-transition: 0s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 12px; /* roundness of big panel outer corners */
	--roundness-l: 12px; /* popout panels */
	--roundness-m: 12px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 12px; /* channels, buttons */
	--roundness-xxs: 6px; /* searchbar, small elements */

	--discord-icon: none; /* discord icon */

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4); /* login background artwork */
	--green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43); /* add friend page explore icon */
	--blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); /* add friend page school icon */
}
